langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
langchain_ollama
Chromadb
langchain-community 
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
fastapi
langserve
uvicorn
langchain-groq
langchain_groq
sse_starlette
langchain_huggingface
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub